li {
    
  }
  
  table {
    border: 1px solid yellow;
  }
  
  th, td {
    border: 1px solid black;
  }
  
  input[type="submit"] {
    background-color: green;
  }
  <style>
  table, th, td {
    border: 1px solid rgb(250, 247, 247);
  }
  h2 {
    font-family: "Times New Roman", Times, serif;
  }
  
  th {
    background-color: green;
  }
</style>
  td {
    color: white;
    font-family: Arial, sans-serif;
  }
  tr th {
    color: white;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #06427a;
    color: white;
    font-size: 16px;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select {
    margin-bottom: 10px;
    width: 200px;
  }